streamlit==1.9.0
numpy
pandas==1.1.5
sklearn
geopandas==0.3.0
geopy==2.2.0
googlemaps==4.5.3
streamlit_folium==0.4.0
folium==0.12.1
seaborn==0.11.1
matplotlib==3.3.3
soundfile
librosa==0.9.2
fpdf
pypdf2==1.26.0
plotly==5.1.0 
pydub
xlrd==1.2.0
openpyxl==3.0.7
lxml==4.6.3
ortools
SoundFile