label.css-18l8pcm.effi0qh3{
    color:rgb(94, 92, 92)
}

button.css-1jc2xs.edgvbvh9{
    color:black
}

div.uploadedFileData.css-1l4firl.exg6vvm7{
    color:black
}

small.css-61rn6a.euu6i2w0{
    color:#e76712
}

div.row-widget.stButton{
    background-color: rgb(25, 58, 80);
    height: 50px;
    padding-left: 590px;
    padding-top: 8px
}


label.css-18l8pcm.effi0qh3{
    color:white;
}

div.st-cx.st-cf.st-dd.st-de.st-df.st-b4.st-bn.st-dg.st-c7.st-dh.st-di.st-dj.st-ca{
    color:black;
}